*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
   
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
header{
    grid-area: header;
    text-align: center;
}
main{
    grid-area: main;
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario input{
    margin: 1rem; /*son 16px la direferencia con em es que rem no se adapt al padre*/
}
.obligatorio{
    color: red;
    font-weight: bold;
}
button{
    width: 155px;
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button img{
    width: 150px;
    height: 50px;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
#salida{
    margin-top: 1rem;
    text-align: center;
}
.error{
    color: red;
    font-weight: bold;
}
.ok{
    color: green;
    font-weight: bold;
}
footer{
    grid-area: footer;
    text-align: center;
    margin-top: 1rem;
}